body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: black;
}

table
{
    border: solid 4px red;
    padding: 30px;
    margin-left: 10%;
    margin-top: 40px;
    margin-right: auto;
}

td, th
{
    border: solid 2px green;
    padding:10px;
}

#intestazione
{
    text-align: center;
    color: blue;
}

/* Così prendete in considerazione solo gli input di tipo button*/
input[type=button]
{
    color:white;
    background-color: darkgreen;
    border:none;
    padding: 5px;
}

input
{
    background-color: yellow;
    color:chocolate;
    font-style: italic;
    font-size: 15px;

}

output
{
    background-color: lightgreen;
    color: purple;
    padding: 4px;
}